.service_01 {
  background-image: url("../images/values/teamwork.jpg");
}
.service_02 {
  background-image: url("../images/values/compromiso.jpg");
}
.service_03 {
  background-image: url("../images/values/calidad.jpg");
}
.service_04 {
  background-image: url("../images/values/enfoquecliente.jpg");
}
.service_05 {
  background-image: url("../images/values/empoderamiento.jpg");
}
.service_06 {
  background-image: url("../images/values/innovacion.jpg");
}